Data/***/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
Data/***/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Data/**/*.yaml filter=lfs diff=lfs merge=lfs -text
video_validation/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
